
<div class="bootstrap-wrapper" >
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6 offset-md-3">
            <mat-card>
                <div class="container text-centre">
                    <img src="../../assets/adminlogo.png" height="100px" alt="">
                </div>
                <h1 class="text-centre">register here</h1>
               <!--{{admin | json}}-->
                <form (ngSubmit)="formSubmit()">
                    <!--username-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)]="admin.username"
                        name="username"
                        required
                       
                        matInput placeholder="Enter here">
                      </mat-form-field>

                     <!--password -->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>password</mat-label>
                        <input  
                        [(ngModel)]="admin.password"
                        name="password"
                        required
                        type="password" 
                       
                        matInput placeholder="Enter here">
                      </mat-form-field>

                      <!--first name-->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input 
                        required
                        [(ngModel)]="admin.firstName"
                        name="firstName"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                      <!--Last name-->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required
                        [(ngModel)]="admin.lastName"
                        name="lastName"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                      <!--email-->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input
                        required
                        [(ngModel)]="admin.email"
                        name="email"   
                        type="email" matInput placeholder="abc@gmail.com">
                      </mat-form-field>
                      <!--Mobile-->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone No</mat-label>
                        <input
                        required
                        [(ngModel)]="admin.phone"
                        name="phone"
                        type="number" matInput placeholder="Enter here">
                      </mat-form-field>
                      <!--city-->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>City</mat-label>
                        <input
                        required
                        [(ngModel)]="admin.city"
                        name="city"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                      <!--pincode-->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Pin code</mat-label>
                        <input 
                        required
                        [(ngModel)]="admin.pinCode"
                        name="pinCode"
                        
                        type="number" matInput placeholder="Enter here">
                      </mat-form-field>
                      <div class="container text-centre">
                        <button 
                        
                        type="submit
                        " mat-raised-button color="primary">Submit</button>
                        <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Clear</button>
                      </div>

                </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>