<mat-card>
    <mat-action-list>
        <div Mat-subheader>Menu</div>
    
        <button mat-list-item routerLink="/admindashboard"><mat-icon mat-ist-icon>home</mat-icon>Home</button>
        <!-- <button mat-list-item routerLink="/admindashboard/profile"><mat-icon mat-ist-icon>account_circle</mat-icon>Profile</button> -->
        <button mat-list-item routerLink="/admindashboard/doctordata"><mat-icon mat-ist-icon>badge</mat-icon>Doctor</button>
        <button mat-list-item routerLink="/admindashboard/patientinfo"><mat-icon mat-ist-icon>personal_injury</mat-icon>Patient</button>
       



</mat-action-list>
</mat-card>



    
   