<mat-card>
    <mat-action-list>
        <div Mat-subheader>Menu</div>
    
        <button mat-list-item routerLink="/doctordashboard"><mat-icon mat-ist-icon>home</mat-icon>Home</button>
        <!-- <button mat-list-item routerLink="/doctordashboard/doctorprofile"><mat-icon mat-ist-icon>account_circle</mat-icon>Profile</button> -->
        <button mat-list-item routerLink="/doctordashboard/patientinfo"><mat-icon mat-ist-icon>personal_injury</mat-icon>Patient</button>
       



</mat-action-list>
</mat-card>



    
   