
    <mat-toolbar style="background-color:black;">
      <!-- <a [routerLink]="''"
       mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="color: rgb(201, 68, 68);"></mat-icon>
      </a> -->
      <a><img src="assets/hoslogo.png" alt="img here"  style="height: 40px;width: 40px;border-radius: 50%;" [routerLink]="''" ></a>
      <span class="ml10" style="color:white; font-size: 25px">City Hospital</span>
      <span class="example-spacer"></span>



     <div class="mx-2">
     
      <button style="margin: 5px;"class="btn " data-toggle="modal" routerLink="/"><a style="color:white;text-decoration: none;font-size: 18px;font-family: 'Architects Daughter', cursive;" href="javascript:void(0);" >Home</a></button>
      
      <button style="margin: 5px;"class="btn " data-toggle="modal" href="./home.component.html"><a style="color:white; text-decoration: none;font-size: 18px;font-family: 'Architects Daughter', cursive;" href="./home.component.html" >About</a></button>
      <button style="margin: 5px;"class="btn " data-toggle="modal" routerLink="./home.component.html"><a style="color:white ;text-decoration: none;font-size: 18xpx;font-family: 'Architects Daughter', cursive;" href="./home.component.html" >Services</a></button>
      <button style="margin: 5px;"class="btn " data-toggle="modal" routerLink="/login"><a style="color:white;text-decoration: none;font-size: 18px;font-family: 'Architects Daughter', cursive;" href="javascript:void(0);" >Admin</a></button>
      <button style="margin: 5px;" class="btn " data-toggle="modal" routerLink="/doctorlogin"><a style="color: white;text-decoration: none;font-size: 18px;font-family: 'Architects Daughter', cursive;" href="javascript:void(0);" >Doctor</a></button>
      <button style="margin: 5px;"class="btn " data-toggle="modal" routerLink="/patientlogin"><a style="color:white;text-decoration: none; font-size: 18px;font-family: 'Architects Daughter', cursive;" href="javascript:void(0);" >Patient</a></button>

      
  </div>
      
    </mat-toolbar>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><span class="text-warning">City</span>Hospital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Admin</a>
            </li>
               <li class="nav-item">
              <a class="nav-link" routerLink="/doctorlogin">Doctor</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->


